@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

body {
  width: 100%;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222 ;
}

h3 {
  font-size: 36px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  padding: 40px 0;
}

.logo {
  width: 70px;
  height: auto;
}

.material-symbols-sharp {
  font-size: 20px !important;
  color: black;
  font-variation-settings: "FILL" 100, "wght" 800, "GRAD" 200, "opsz" 90;
}

